h1{
    color: #696969;
    font-weight: normal;
    font-size: 40px;
    font-family: Georgia, Serif;
    text-transform: uppercase;
    text-align: center;
}

.cuerpo{
    /*background-color: rgb(218, 218, 218);*/
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    
}

.pantalla{
    width: 240px;
    height: 30px;
    margin: 8px;
    font-size: 25px;
    border: none;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;  
}

#resultado{
    background: rgb(77, 77, 77);
    padding: 9px;
}

.miBoton{
    width: 60px;
    height: 55px;
    margin: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    border: none;
}
.miBoton:hover{
    box-shadow: 0px 0px 12px rgb(175, 174, 174);
}